.wrapper{
    
    display: flex;
    justify-content: space-between;
    padding: 10px;

    .button{
        font-size: 20px;
        margin: 5px;
    }
    
    .iconS{
        font-size: 20px;
        margin: 5px;
    }
}


